image: Visual Studio 2022

platform:
    - x64
    - x86

configuration:
    - Release
    - Debug

before_build:
    # Restore NuGet packages including Microsoft.NETFramework.ReferenceAssemblies.net40
    # which provides .NET Framework 4.0 reference assemblies for building on VS 2022
    - cd "%APPVEYOR_BUILD_FOLDER%"
    - nuget restore NppMenuSearch.sln

build_script:
    - cd "%APPVEYOR_BUILD_FOLDER%"
    - msbuild NppMenuSearch.sln /m /p:Configuration="%configuration%" /p:Platform="%platform%" /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
    - ps: |
        # Update AppVeyor build version from assembly version + build number
        $dllPath = "$env:APPVEYOR_BUILD_FOLDER\NppMenuSearch\bin\$env:PLATFORM\$env:CONFIGURATION\NppMenuSearch.dll"
        if (Test-Path $dllPath) {
            $version = [System.Diagnostics.FileVersionInfo]::GetVersionInfo($dllPath).FileVersion
            Update-AppveyorBuild -Version "$version-$env:APPVEYOR_BUILD_NUMBER"
        } else {
            Write-Warning "DLL not found at: $dllPath"
        }

after_build:
    - cd "%APPVEYOR_BUILD_FOLDER%"\NppMenuSearch
    - ps: |
        $ZipFileName = "NppMenuSearch_$($env:APPVEYOR_REPO_TAG_NAME)_$($env:PLATFORM).zip"
        # SDK-style project output path includes target framework
        $OutputPath = ".\bin\$env:PLATFORM\$env:CONFIGURATION"
        7z a $ZipFileName "$OutputPath\NppMenuSearch.dll"
        7z a $ZipFileName "$OutputPath\NppMenuSearch.dll.*.xml"
        if ($env:CONFIGURATION -eq "Release") {
            Push-AppveyorArtifact $ZipFileName -DeploymentName releases
        } else {
            Push-AppveyorArtifact $ZipFileName -DeploymentName builds
        }

#deploy:
#    provider: GitHub
#    auth_token:
#        secure: VsOooQwPfiGJ32FFjrxnoRPEFOzeFaBWkhjADfhIF2lxb8K2JunV2DEppw5zHpXj
#    artifact: releases
#    draft: false
#    prerelease: false
#    force_update: true
#    on:
#        appveyor_repo_tag: true
#        configuration: Release
