version: 0.9.3.{build}
image: Visual Studio 2022


environment:
  matrix:
    - PlatformToolset: v143

platform:
    - x64
    - x86

configuration:
    - Release
    - Debug

install:
    - if "%platform%"=="x64" set archi=amd64
    - if "%platform%"=="x64" set platform_input=x64

    - if "%platform%"=="x86" set archi=x86
    - if "%platform%"=="x86" set platform_input=x86

    - call "C:\Program Files\Microsoft Visual Studio\2022\Community\VC\Auxiliary\Build\vcvarsall.bat" %archi%
    - nuget restore "%APPVEYOR_BUILD_FOLDER%"\NppMenuSearch\packages.config -PackagesDirectory "%APPVEYOR_BUILD_FOLDER%"\packages

build_script:
    - cd "%APPVEYOR_BUILD_FOLDER%"
    - msbuild NppMenuSearch.sln /m /p:configuration="%configuration%" /p:platform="%platform_input%" /p:PlatformToolset="%PlatformToolset%" /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"

after_build:
    - cd "%APPVEYOR_BUILD_FOLDER%"\NppMenuSearch
    - ps: |
        $ZipFileName = "NppMenuSearch_$($env:APPVEYOR_REPO_TAG_NAME)_$($env:PLATFORM).zip"
        7z a $ZipFileName .\bin\$env:PLATFORM_INPUT\$env:CONFIGURATION\NppMenuSearch.dll
        7z a $ZipFileName .\bin\$env:PLATFORM_INPUT\$env:CONFIGURATION\NppMenuSearch.dll.*.xml
        if ($env:CONFIGURATION -eq "Release") {
            Push-AppveyorArtifact $ZipFileName -DeploymentName releases
        } else {
            Push-AppveyorArtifact $ZipFileName -DeploymentName builds
        }

#deploy:
#    provider: GitHub
#    auth_token:
#        secure: VsOooQwPfiGJ32FFjrxnoRPEFOzeFaBWkhjADfhIF2lxb8K2JunV2DEppw5zHpXj
#    artifact: releases
#    draft: false
#    prerelease: false
#    force_update: true
#    on:
#        appveyor_repo_tag: true
#        PlatformToolset: v143
#        configuration: Release
